/* src/Pages/Home/Home.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
        background-size: cover;
    font-family: Arial, sans-serif;
}

.home-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-section {
    text-align: center;
    padding: 50px 20px;
    color: #d4af37;
}

.hero-section h1 {
    color: #d4af37;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: "Copperplate Gothic Light", serif;
    font-weight: bold;
}

.hero-section p {
    color: #d4af37;
    font-size: 18px;
    font-family: "Copperplate Gothic Light", serif;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    font-family: "Copperplate Gothic Light", serif;
    background-color: #012265;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.features-section {
    margin: 20px 0;
    text-align: center;
    font-family: "Copperplate Gothic Light", serif;
}

.features-section h2 {
    color: black;
    margin-bottom: 20px;
    font-family: "Copperplate Gothic Light", serif;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
        font-family: "Copperplate Gothic Light", serif;
}

.feature {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    color: #012265;
    margin-bottom: 10px;
        font-family: "Copperplate Gothic Light", serif;

}

.feature p {
    color: #666;
    font-size: 16px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
